<div class="ui container">
   <div class="ui breadcrumb">
      <a class="section" href="/">Главная</a>
      <i class="my-red circle icon divider"></i>
      <a class="section active" href="/">Поиск</a>
   </div>
</div>
<div class="ui container">
   <h3 class="ui header header--red">
      По запросу: "<%= @q %>" найдено <%= @products.count %>
   </h3>
   <div class="main-items">
      <div class="ui grid">
        <% if @products.present? %>
          <% @products.each do |prod| %>
            <%= render 'shared/prod_item', prod: prod %>
          <% end %>
        <% else %>
          <!-- <h3>Ничего не найдено</h3> -->
        <% end %>
      </div>
   </div>
</div>
