<div class="ui footer segment">
   <div class="ui container">
      <div class="ui stackable column grid" id="footer-grid">
         <div class="column four wide computer footer-address">
            <div class="ui header">Центральный офис
               в Санкт-Петербурге:
            </div>
            <div class="content">
               Витебский пр. 31 корпус 2 литер 1.
            </div>
         </div>
         <div class="column four wide computer footer-address">
            <div class="ui header">Филиал в Москве</div>
            <div class="content">
               ул. Летниковская, д. 16
            </div>
         </div>
         <div class="column four wide computer footer-address">
            <div class="ui header">Региональный офис
               в Екатеринбурге
            </div>
            <div class="content">
               ул. Братская, д. 27/3, подъезд 2
            </div>
         </div>
         <div class="column four wide computer sixteen wide tablet contacts-footer">
            <div class="footer-contact-wrap">
               <div class="contacts-wrap">
                  <div class="ui grid">
                     <div class="one wide column"><img src="/images/phone_big.png"  class="phone-icon--big" alt=""></div>
                     <div class="fourteen wide column">
                        <div class="ui header">8 (800) 555-39-86</div>
                        <div class="content">Заказать бесплатный звонок </div>
                     </div>
                  </div>
               </div>
               <div class="ui red fluid button show-modal">Оформить заявку</div>
            </div>
         </div>
      </div>
   </div>
</div>
