<div class="ui container">
   <header>
      <div class="top-contacts-wrap">
         <div class="ui stackable two column grid">
            <div class="four wide column">
               <a href="/">
               <img src="/images/logo.png" alt="" class="logo">
               </a>
            </div>
            <div class="twelve wide computer sixteen wide tablet column">
               <div class="ui grid top-contacts">
                  <div class="four wide computer four wide tablet sixteen wide mobile column item">
                     <img src="/images/locate.png" class="contacts-icon" alt="">
                     <span class="span "><a class="contacts-link" href="/contacts/1">Контакты</a></span>
                  </div>
                  <div class="four wide computer four wide tablet sixteen wide mobile column item">
                     8 (800) 555-39-86
                     <div class="sub">
                        <img src="/images/phone.png" alt="" class="contacts-icon">Бесплатно по России
                     </div>
                  </div>
                  <div class="four wide computer four wide tablet sixteen wide mobile column item">
                     8 (495) 212-11-31
                     <div class="sub">
                        <img src="/images/at.png" alt="" class="contacts-icon">info@vira-trade.ru
                     </div>
                  </div>
                  <div class="four wide computer four wide tablet sixteen wide mobile column">
                     <div class="search-input">

                        <%= form_tag("/search", method: "get") do %>
                          <div class="ui icon input">
                             <input type="text" placeholder="Поиск по сайту" name='title'>
                             <i class="search icon"></i>
                          </div>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="ui grid menu--top-wrap">
         <div class="computer only row">
            <div class="sixteen wide column">
               <div class="ui red seven item inverted menu menu--top">
                  <% menus = Menu.all %>
                  <% menus.each_with_index do |i, index| %>

                    <% if index + 1 <= 6 %>
                      <a class="item" href="<%= polymorphic_path(i.itemable_type.constantize.find(i.itemable_id)) %>">
                        <%= raw i.title %>
                      </a>
                    <% end %>

                  <% if (index + 1)  == 7 %>
                    <div class="ui dropdown red item more-menu">
                       Еще
                       <i class="angle down icon"></i>
                       <div class="ui red three item inverted menu more-menu-sub">
                  <% end %>

<!--                           <a class="item" style="color: #fff !important">Безопасность</a>
                          <a class="item" style="color: #fff !important">Автоспецтехника</a>
                          <a class="item" style="color: #fff !important">Лизинг</a> -->
                  <% if (index + 1)  > 6 %>
                          <a class="item" style="color: #fff !important" href="<%= polymorphic_path(i.itemable_type.constantize.find(i.itemable_id)) %>">
                            <%= raw i.title %>
                          </a>
                  <% end %>

                  <% if (menus.size - 1) == index %>

                           </div>
                        </div>
                     </div>
                  <% end %>

                  <% end %>
                  <!-- end main loop -->


            </div>
         </div>
      </div>
   </header>
</div>
