<div class="four wide column computer only">
   <div class="sidebar-left">
      <% SpecItem.all.order(position: :asc).each do |s| %>
        <div class="item">
           <div class="inner">
              <div class="image-container">
                 <img src="<%= s.image.file.url %>" alt="" class="ui image">
                 <div class="after">
                    <div class="content">
                       <div class="head"><%= s.title %></div>
                       <p class="sub_cont">
                          <%= s.desc %>
                       </p>
                       <a href="<%= s.link %>" class="fluid ui red button <%= s.callback == true ? 'show-modal' : '' %>"><%= s.link_text %></a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      <% end %>
   </div>
</div>
