<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="ui one column mobile tablet only grid">
   <div class="column">
      <div class="ui fixed four item white menu mobile-menu-wrap">
         <div class="left menu">
            <div class="item mobile-logo-wrap">
              <a href="/">               <img src="/images/logo.png" alt="" class="ui image mobile-logo"></a>

            </div>
            <div class="item phone-wrap">
               <div class="phone">8 (800) 555-39-86</div>
            </div>
         </div>
         <div class="right menu">
            <div class="item">
               <i class="search icon"></i>
               <a class="mobile-menu-control"><i class="content icon"></i></a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="ui  segment mobile-search-wrap">
  <%= form_tag("/search", method: "get") do %>
    <div class="ui input">
       <input type="text" placeholder="Поиск по сайту" name='title'>
    </div>
  <% end %>
</div>
<div class="ui right vertical red inverted menu sidebar">
   <div class="side-menu-wrap">
<!--       <a class="active item">
      Люлки
      </a>
      <a class="item">
      Миникраны
      </a>
      <a class="item">
      Удлинители стрел КМУ
      </a>
      <a class="item">
      Захваты
      </a>
      <a class="item">
      Буровое оборудование
      </a>
      <a class="item">
      Запчасти и сервис
      </a> -->
<!--     <% menu_items.each do |i| %>
      <a class="item" href="<%= category_path(i) %>">
        <%= i.title %>
      </a>
    <% end %> -->

    <% Menu.all.each do |i| %>
      <a class="item" href="<%= polymorphic_path(i.itemable_type.constantize.find(i.itemable_id)) %>">
        <%= raw i.title %>
      </a>
    <% end %>
<!--       <a class="item" style="color: #fff !important">Безопасность</a>
      <a class="item" style="color: #fff !important">Автоспецтехника</a>
      <a class="item" style="color: #fff !important">Лизинг</a> -->
   </div>
</div>
<a href="#0" class="cd-top"><i class="angle up icon"></i></a>
