<div class="news-wrap">
   <div class="ui header news-header">
      <%= raw title %>
      <div class="ui sub header">
         <%= raw date.strftime('%d.%m.%Y') %>
      </div>
   </div>
   <div class="news-content">
      <p style="font-size: 18px; font-weight: 300">
         <%= raw short %>
      </p>
      <p>
      </p>
      <div class="ui grid">
         <div class="mobile only row">
            <div class="sixteen wide column">
               <img src="<%= raw image %>" class="ui image" alt="">
            </div>
         </div>
         <div class="eight wide computer column sixteen wide mobile column">
            <%= raw content %>
         </div>
         <div class="eight wide computer column">
            <img src="<%= image %>" class="ui image computer-only-img" alt="">
         </div>
      </div>
   </div>
</div>
