<div class="sixteen wide mobile eight wide tablet four wide computer column">
   <div class="card computer-card">
     <a href="<%= product_path(prod) %>">

        <div class="header--main"><%= prod.title %></div>
        <div class="inner">
           <div class="image product-image-container">
              <img class="ui image" src="<%= prod.pictures.thumb_of_main %>" alt="">
              <div class="after"></div>
           </div>
           <div class="content">
              <div class="header">
                 <div class="ui two column stackable grid main-item-data">
                    <div class="column">
                       <div class="price"><%= prod.price %> руб.</div>
                    </div>
                    <div class="column">
                       <div class="presence"><%= raw presence(prod) %></div>
                    </div>
                 </div>
              </div>
              <div class="description">
                 <%= raw prod.short_desc %>
              </div>
           </div>
        </div>
     </a>
   </div>

   <div class="mobile-card">
     <a href="<%= product_path(prod) %>">

        <div class="ui grid">
           <div class="row">
              <div class="seven wide column">
                 <div class="image product-image-container">
                    <img class="ui image" src="<%= prod.pictures.main_or_first %>" alt="">
                    <div class="after"></div>
                 </div>
              </div>
              <div class="nine wide column">
                 <div class="title"><%= prod.title %></div>
                 <div class="presence presence--true"><%= prod.status == 'aval' ? 'В наличии' : 'Нет в наличии' %></div>
                 <div class="price"><%= prod.price %> руб.</div>
              </div>
           </div>
        </div>
     </a>
   </div>


</div>
