<%= raw bread(@news) %>
<div class="ui container">
  <div class="ui grid">
    <%= render 'shared/leftside' %>

     <div class="twelve wide computer sixteen wide mobile column contacts-wrap pad-less">
      <%= render 'shared/news_item', title: @news.title, content: @news.content, date: @news.created_at, short: @news.short_desc,  image:  @news.simple_picture.file.url  %>
     </div>
     <!-- end main -->
  </div>
</div>
