<div class="devise-logo">
  <%= image_tag("logo.png") %>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'ui form'}) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

<!--   <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%> -->

  <div class="actions">
    <%= f.submit "Войти", class: 'ui red button'  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
