<%= raw bread(@service) %>
<div class="ui container">
  <div class="ui grid">
    <%= render 'shared/leftside' %>

     <div class="twelve wide computer sixteen wide mobile column contacts-wrap pad-less">
      <%= raw @service.content %>
     </div>
     <!-- end main -->
  </div>
</div>
