<%= raw bread(@category) %>
<div class="ui container">
   <h2 class="ui header header--red">
      <%= @category.title %>
   </h2>
   <div class="main-items">
      <div class="ui grid">
        <% @category.products.each do |prod| %>
          <%= render 'shared/prod_item', prod: prod %>
        <% end %>
      </div>
   </div>

   <div class="catalog-about about-wrap">
      <div class="ui container">
         <div class="about">
          <%= raw @category.description %>
         </div>
      </div>
   </div>
</div>
