<%= raw bread(@product) %>

<div class="product-wrap">
   <div class="ui container">
      <h2 class="ui header">
         <%= @product.title %>
      </h2>
      <div class="ui stackable grid">
         <div class="seven wide column">

            <ul class="lightslider-product">
              <% @product.pictures.each do |item| %>
                <li data-thumb="<%= item.file.thumb.url %>"><a data-lightbox="product-set"  href="<%= item.file.url %>"><img src="<%= item.file.medium.url %>" alt=""></a></li>
              <% end %>
            </ul>

            <div class="product-promo-text tablet-advantages">
               <p><img src="/images/pi1.png" alt="" class="ui image">Доставка по стране<br>и за ее пределы</p>
               <p><img src="/images/pi2.png" alt="" class="ui image">Срок поставки<br>по России 5 дней</p>
               <p><img src="/images/pi3.png" alt="" class="ui image">Предоплата от 20%</p>
            </div>
         </div>
         <div class="nine wide column">
            <div class="ui grid">
               <div class="row">
                  <div class="sixteen wide mobile eight wide computer column product-definition">
                     <div class="product-price">
                        <h2 class="ui header header--product">
                           Цена:
                        </h2>
                        <div class="value"><%= @product.price %> руб.</div>
                        <div class="subheader">
                        <%= raw presence(@product) %>
                        </div>
                     </div>
                     <div class="buy-button">
                        <div class="ui big red button show-modal">ОТПРАВИТЬ ЗАЯВКУ</div>
                     </div>
                  </div>
                  <div class="eight wide computer only column product-definition">
                     <div class="product-promo-text computer-advantages">
                        <p><img src="/images/pi1.png" alt="" class="ui image">Доставка по стране<br>и за ее пределы</p>
                        <p><img src="/images/pi2.png" alt="" class="ui image">Срок поставки<br>по России 5 дней</p>
                        <p><img src="/images/pi3.png" alt="" class="ui image">Предоплата от 20%</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="sixteen wide column product-chars">
                     <div class="product-chars-inner">
                        <h2 class="ui header header--product">
                           Общие характеристики:
                        </h2>
                        <div class="dotted-list">
                           <table>
                              <tbody>
                                <%= raw char_to_row(@product) %>
                              </tbody>
                           </table>
                        </div>
                        <div class="eight wide column product-definition">
                           <div class="ui three column grid mobile-only-adv">
                              <div class="column">
                                 <div class="img-wrap">
                                    <img src="/images/pi1.png" alt="" class="ui image">
                                 </div>
                                 <p class="content">
                                    Доставка по стране<br>и за ее пределы
                                 </p>
                              </div>
                              <div class="column">
                                 <div class="img-wrap">
                                    <img src="/images/pi2.png" alt="" class="ui image">
                                 </div>
                                 <p class="content">
                                    Срок поставки<br>по России 5 дней
                                 </p>
                              </div>
                              <div class="column">
                                 <div class="img-wrap">
                                    <img src="/images/pi3.png" alt="" class="ui image">
                                 </div>
                                 <p class="content">Предоплата от 20%</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="ui two column stackable grid">
         <div class="column">
            <div class="product-desc">
              <%= raw @product.description1 %>
            </div>
         </div>
         <div class="column">
            <div class="product-desc">
              <%= raw @product.description2 %>
            </div>
         </div>
      </div>
   </div>
</div>
