<!DOCTYPE html>
<html>
  <head>
    <title>Vira-Trade</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/mob_header' %>
    <div class="pusher">
      <%= render 'shared/header' %>

      <!-- Main cont -->
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>

    <div class="ui small modal modal-form">
       <div class="content">
          <img class="close-icon" src="/images/close-icon.png" alt="">
          <div class="form-wrap">
             <div class="ui header centered">
                Заполните форму и мы с Вами
                свяжемся в течении 10 минут
             </div>
             <form class="form ui form">
                <div class="field">
                   <input type="text" name="name" placeholder="ФИО">
                </div>
                <div class="field">
                   <input type="text" placeholder="Контактный телефон">
                </div>
                <div class="field">
                   <input type="text" placeholder="E-mail">
                </div>
                <div class="field">
                   <textarea name="comment" placeholder="Ваш комментарий" rows="3"></textarea>
                </div>
                <button class="ui red fluid button" type="submit">Отправить заявку</button>
             </form>
          </div>
       </div>
    </div>
  </body>
</html>
