<!DOCTYPE html>
<html>
  <head>
    <title>Vira</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="ui container devise-form">

      <!-- Main cont -->
      <%= yield %>
    </div>
  </body>
</html>
